
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #191414;

	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}


	.submit{
		background-color: #1DB954;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(163, 160, 160, 0.75);
	}

	.item-row{
		background-color: #191414;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(163, 160, 160, 0.75);
	}

	.btn-danger{
		background-color: #1DB954;
		border-color: #1DB954;
	}

</style> 


<div class="center-column">
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-info submit" type="submit" name="Create Task"> 
    </form>

    {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

            {% if task.compliter == True %}
                <strike>{{task}}</strike>
            {% else %}
                <span>{{task}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>